@charset "UTF-8";

/* Tipical Device Breakpoints
---------------------------------
    Pequenos ecrãs: até 600px
    Telemovel: 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    grandes Ecãs: mais de 1200px
*/

@media screen and (max-width: 600px) {
    
    article > img {
        border-radius: 20px;
        width: 440px;
        height: 200px;
        padding: 10px;
    }
}
@media screen  and (min-width: 768px) {
    span#burguer {
        display: none;
    }


menu{
    display: block;
}

menu > ul > li {
    display: inline-block;
}

main{
    width: 768px;
}
}

@media print { /*IMPRESSÃO*/
    *{font-family: 'Courier New', Courier, monospace;}
    body{
        background-image: url(../imagens/back-print.jpg);/* desnecessário colocar background*/        
    }
    div{
        display: none;
    }
    main{
        border: 1px solid black;
        text-align: center;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main::after{

        content: 'Impressão do site www.pedroluiscarlos.github.io';
    }

    span#burguer {
        display: none;
    }

    article > img {
        border-radius: 20px;
        width: 300px;
        height: 200px;
        padding: 10px;
    }

    footer > section{
        display: none;

    }
}