@charset "UTF-8";


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5edb6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:Arial;
    --fonte-android: 'Android', Arial;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body,html {
    background-color: lightgray;
    background: url(../imagens/pexels-aleksandar-pasaric-2603464.jpg) no-repeat left center;
    background-size: cover;
    width: 100vw;
}



 div#home > a {
    color: rgb(216, 83, 83);  
}

a > span.material-symbols-outlined{
    background-color: rgb(35, 35, 35) ;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

a > span.material-symbols-outlined:hover{
    background-color:  rgba(189, 189, 3, 0.489);
    border: 2px solid rgba(255, 255, 255, 0.637);
    color: white;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
}
header > h1{
    font-family: var(--fonte-android);
    font-size: bolder;
    background-image: linear-gradient(to bottom, rgb(99, 99, 99), gray, white);
    color:black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    text-align: center;
    font-size: 5em;
    
}

header > p{
    font-family: var(--fonte-android);
    font-size: bold;
    background-image: linear-gradient(to bottom, rgb(99, 99, 99), gray, white);
    color:black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

span#burguer{
    background-color: rgb(35, 35, 35);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color:white ;
    color: black;
}

menu{
    padding: 10px;
    display: none;
    
}

menu > ul {
    list-style: none;
    
}


menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: rgb(208, 85, 23);
    border-top: 2px solid rgb(0, 0, 0);
    font-family: var(--fonte-android);
    border-radius: 50px;
}

menu > ul > li > a:hover{
    background-color: rgba(189, 189, 3, 0.489);
    color: white;
}


div.quadrado{
    display: inline-block ;
    border: 2px solid black ;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 169px;
    cursor: pointer;
    
}
div#q1{
    background-image: url(../imagens/cod.jpg) ;
    background-repeat: no-repeat;
    background-position: center ;
    margin-left: 10px;
    
}

a > div#q1:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
}
div#q2{
    background-image:url(../imagens/63375e821eebb.image.jpg);
    background-position: center center ;
    
   }
   a > div#q2:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
   }

div#q3{
    background-image: url(../imagens/fifa.jpg);
    background-position: center center;
}

a > div#q3:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;
   }

div#q4{
    background-image: url(imagens/pattern003.png);
   
}


main{
    background-color: rgba(255, 255, 255, 0.719);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.434);
    border-radius: 20px;
}
main h1{
    color: var(--cor5) ;
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}

main > a {
text-decoration: none;
font-weight: bold;
color: var(--cor4);
padding: 2px 6px;
}
main > a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

article.not {
    background-color: rgba(131, 225, 173, 0.555) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
   
 

div.video{
    background-color: hsla(146, 82%, 13%, 0.719);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90% ;
    height: 90%;
}
aside{
    background-color: rgba(131, 225, 173, 0.555) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    width: 100vw;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

footer > p{
    font-family: var(--fonte-android);
}


footer > section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

footer > section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    transition: transform .5s, border 1s;

}